.sidebar-list{
    position: fixed;
    bottom: 176px;
    left: 30px;
    width: 375px;
    height: max-content;
}

.sidebar-list ul{
    list-style: none;
    text-align: center;
}

.sidebar-list ul li {
    padding: 12px;
    background-color: white;
    cursor: pointer;
}

.sidebar-list ul {
    height: 0;
    overflow: hidden;
    transition: 0.3s ease-in-out;
    overflow-y: scroll;
}

.openRadios{
    height: 120px !important;
    transition: 0.3s ease-in-out;
}




.sidebar-list ul li:hover:not(.sidebar-list-top) {
    background: #F0F0F0;
}


.sidebar-list-top-button{
    width: 32px;
    height: 4px;
    background: #FF94CC;
    border-radius: 2px;
    margin: 0 auto;
}


.sidebar-list-top-button-container{
    padding: 10px 0;
}

.sidebar-list-top-heading{
    cursor: pointer;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4.5px );
    -webkit-backdrop-filter: blur( 4.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.sidebar-list-country{
    padding: 15px;
    display: flex;
    color: white;
    gap: 10px;
    align-items: center;
}

.sidebar-list-country h1 {
    font-size: 24px;
    font-weight: 600;
}



@media screen and (max-width:425px) {
    
    .sidebar-list{
        bottom: 125px;
        left: 0;
        width: 100%;
    }
    .sidebar-list-country{
        padding: 10px;
        display: flex;
        color: white;
        gap: 10px;
        align-items: center;
    }
}