body{
  overflow: hidden;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  user-select: none;
}


.dot{
  background-color: greenyellow;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow:
      0 0 7px greenyellow,
      0 0 10px greenyellow,
      0 0 21px greenyellow,
      0 0 42px #0fa,
      0 0 82px #0fa,
      0 0 92px #0fa,
      0 0 102px #0fa,
      0 0 151px #0fa;
}

.mapboxgl-ctrl-attrib-inner{
  display: none !important;
}

.mapboxgl-ctrl{
  display: none !important;
}